@model string

<div class="row">
   
    <a asp-action="Criar" class="btn btn-block btn-secondary d-grid gap-2 col-6 mx-auto">
        <i class="fa-solid fa-circle-plus"></i> Novo(a) @Model
    </a>

</div>